*{
  font-family: MV BOLI;
  color:#4b4333;
  font-style: italic;
  text-shadow: 0px 3px 3px #0ce478, 0 0 25px #030a31;
}

body{
  background-color: #5a4124;
  background-image: linear-gradient(43deg, #3d4983 0%, #184b7a 46%, #423112 100%);
}

div{
  text-align: center;
}

img{
  width: 90%;
}

#move{
  position: absolute;
  border: 1px dashed black;
  padding: 10px;
}

body.info{
  background-color: #635180;
  background-image: linear-gradient(43deg, #565f8d 0%, #5c3e8b 46%, #837d73 100%);
}

a.menu_but{
  font-size: 22px;
  text-decoration: none;
  text-align: left;
  float: left;
  position: relative;
  display: block;
  margin: 15px 1vw 10px 1vw;
  padding: 5px 1vw 5px 1vw;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #749bb1;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

a.menu_but:hover{
  background-color: rgba(0, 0, 0, 0.7);
}

h1{
  font-family: "Times New Roman", Georgia, Serif;
  color: #b6ad9e;
}
